header, footer {
    block-size: 60%;
    display: block;
    flex-direction: column;
    justify-content: center;
}

header{
    width: 60%;
    color: white;
    text-align: center;
    img {
        display: block;
        margin: auto;
        align-items: center;
        background-image: #782221;
        width : 100px;
        height: 120px;
    }
    
    figcaption{
        color: white;
        background-color: #782221;
        text-align: center;
        font-size: larger;
    }

    h1{
        color: white;
        background-color: #782221;
        text-align: center;
        font-size: large;
    }

    address {
        color: white;
        background-color: #2c1d27;
        text-align: center;
        font-size: medium;
    }
}
    
main{
    block-size: auto;
    flex-direction: column;
    justify-content: left;
    text-align: left;
    display: table;
    h2{
        color: black;
        background-color: #dbc2a4;
        font-weight: bold;
    }
    p{
        color: white;
        background-color: #782221;
        flex-direction: column;
    }
    
   h3{
        color: black;
        font-size: medium;
        font-weight: bold;
    }
    
   ul{
        color: white;
        background-color: #782221;
        flex-direction: column;
    }
    
    aside {
        width: 30%;
    }
}
.hard-skills{
    block-size: auto;
    width: 35%;
    display: table-cell;
    flex-direction: column;
    justify-content: center;
        ul{
            color: black;
            background-color: white;
        }
}

footer{
    block-size: auto;
    width: 60%;
    display: inline;
    float: inline-start;
    text-align: center;
    background-color: #782221;
    img {
        display: inline-block;
        justify-content: center;
        align-items: center;
        background-color: #782221;
        width: 35px;
    }
}

footer small {
    color: white;
    background-color: #782221;
    display: block;
    justify-content: center;
    text-align: center;
}