header, main, footer {
    width: 1160px;
    margin: auto;
    font-family: "Raleway Regular";
}

header {
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    color: white;
    background-color: #782221;
}

header img{
    display: flex;
    margin: auto;
    width : 150px; 
    height : 150px;
    border-radius: 55%;
    padding: 1rem;
}

figcaption{
    font-size: large;
    margin: 19px;
}

h1{
    font-size: larger;
    text-align: center;
}

address {
    color: white;
    background-color: #2c1d27;
    width: 94.5%;
    display: flex;
    justify-content: space-between;
    text-align: center;
    padding: 2rem;
}

address a {
    color: white;
    text-align: left;  
    width: 15%; 
}

address a {
    color: white;
    text-align: center;
    width: 15%;
}

address a {
    color: white;
    text-align: right;
    width: 15%;
}

main {
    display: table;
    flex-direction: column;
    justify-content: space-between;
    text-align: left;
    background-color: #782221;
    color: white;
    line-height: normal;

    
    h2 {
        color: black;
        background-color: #dbc2a4;
        display: flex;
        justify-content: left;
        text-align: left;
        padding: 1rem;
        font-size: medium;
    }
    
    p{
        padding: 1rem;
    }
    
    main ul{
        text-align: right;
        color:black;
        background-color: #782221;
        font-size: small;
    }
}


aside {
    width: 30%;
}

.hard-skills{
    display: table-cell;
    margin: auto;
    width: 55%;
    flex-direction: column;
    justify-content: space-between;
    text-align: left;
    margin: auto;
    color: black;
    background-color: white;
    padding: 1rem;
    border-right: 4px solid black;
}

.hard-skills h2 {
    border-left: 0.5rem solid #782221;
}

h3{
    text-align: left;
    color: black;
    font-size: medium;
    padding: 1rem;
}

time {
    color: black;
    background-color: white;
    text-align: left;
    padding: 1rem;
}

    
footer{
    display: block;
    justify-content: center;
    align-items: center;
    background-color: #782221;
    color: white;
    padding: 0.01rem;

}

footer img {
    display: inline-flex;
    align-items: center;
    width: 35px;
    height: 35px;
}

footer small {
    display: flex;
    justify-content: center;
    text-align: center;
}
